.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 300px){
  .cover{
    background:  url("https://images.shiksha.com/mediadata/images/1547804071php6ai1GL.jpeg");
    background-size: contain;
    align-items: center;
    height:100vh;
    background-repeat: no-repeat;

  }
}
.cover{
  background: url("https://images.shiksha.com/mediadata/images/1547804071php6ai1GL.jpeg");
  height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex:1;
}

.App-link {
  color: #e63946;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.map-container{
  width: 100%;
  height: 100vh;
}